/* Variables */
/* Fonts */
/* 
regular 400
regular 400 Italic
bold 700
bold 700 Italic
*/
body {
  font-family: 'Oswald',sans-serif;
  font-size: 18px;
  color: #010000;
  font-weight: 400;
  font-style: normal; }

a {
  transition: .4s ease-in-out;
  cursor: pointer;
  text-decoration: none; }
  a:hover {
    color: #ff1755;
    transition: .4s ease-in-out; }

.container-fluid {
  line-height: 24px; }

/*Mixins*/
header {
  position: relative;
  display: block;
  background: #010000;
  width: 100%;
  color: #ffffff;
  height: 90px; }
  header .logo {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%); }
  header nav,
  header nav ul,
  header nav ul li {
    margin: 0;
    padding: 0; }
  header nav {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%); }
    header nav ul li {
      list-style: none;
      display: inline-block;
      margin-right: 10px; }
      header nav ul li.last {
        margin: 0; }
      header nav ul li a {
        font-size: 19px;
        line-height: normal;
        text-decoration: none;
        color: #ffffff; }
